body {
    background: #010000;
    font-family: "montserrat";
}

#parent {
    background: #1a1a1a;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: #f9f5f9 0px 0px 10px;
}

#header {
    background: #6ef5ff;
    width: 100%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px 10px;
}

#content {
    background: #000000;
	width: 100%;
	height: 75%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;/*centers region in browser*/
	text-align: center;/*centers content in a region*/
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 15px;
}

#footer {
    background: #6ef5ff;
	width: 100%;
	height: 7%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px 30px;
}

h1{
    font-family: "roboto condensed";
	font-size: 44px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 7px; 
	text-align: center;
	margin-top: 0px;
	line-height: 95px;/*sets the placing for the heading text within the child*/  
}

.subheading {
    font-family: "montserrat";
	font-size: 14px;
	font-style: light;
	color: #000000;
	opacity: 65%;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 0px;
	position: relative;
	top: -50px;
}

.row1 {
    display: flex;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto; 
}

.column1 {/*makes a column for images, use 25% for 4 images, use 50% for two images*/
    flex: 33.33%;
    padding: 5px;
}

.pic1 {
    border: 1px solid #ffffff;}

.pic2 {
    border: 1px solid #ffffff;}

.pic3 {
    border: 1px solid #ffffff;}

.text1 {
    text-align: justify;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}

h3 {
    font-family: "montserrat";
    font-size: 12px;
    font-style: light;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    line-height: 7px;
}

.row2 {
    display: flex;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto; 
}

.column2 {/*makes a column for images, use 25% for 4 images, use 50% for two images*/
    flex: 33.33%;
    padding: 5px;
}

.pic4 {
    border: 1px solid #ffffff;}

.pic5 {
    border: 1px solid #ffffff;}

.pic6 {
    border: 1px solid #ffffff;}

    .row3 {
        display: flex;
        margin-top: 110px;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .column3 {/*makes a column for images, use 25% for 4 images, use 50% for two images*/
        flex: 33.33%;
        padding: 5px;
    }
    
    .pic7 {
        border: 1px solid #ffffff;}
    
    .pic8 {
        border: 1px solid #ffffff;}
    
    .pic9 {
        border: 1px solid #ffffff;}

        .row4 {
            display: flex;
            margin-top: 110px;
            margin-left: auto;
            margin-right: auto; 
        }
        
        .column4 {/*makes a column for images, use 25% for 4 images, use 50% for two images*/
            flex: 33.33%;
            padding: 5px;
        }
        
        .pic10 {
            border: 1px solid #ffffff;}
        
        .pic11 {
            border: 1px solid #ffffff;}
        
        .pic12 {
            border: 1px solid #ffffff;}
    
            .row5 {
                display: flex;
                margin-top: 110px;
                margin-left: auto;
                margin-right: auto; 
            }
            
            .column5 {/*makes a column for images, use 25% for 4 images, use 50% for two images*/
                flex: 33.33%;
                padding: 5px;
            }
            
            .pic13 {
                border: 1px solid #ffffff;}
            
            .pic14 {
                border: 1px solid #ffffff;}
            
            .pic15 {
                border: 1px solid #ffffff;}
        

a:link{text-decoration: none; color: #ffffff; margin: 35px;}
a:visited{text-decoration: none; color: #e0e0e0; margin: 35px;}
a:active{ text-decoration: underline; color: #bd0299; margin: 35px;}
a:hover{text-decoration: underline; color: #ffffff; margin: 35px;}
