body {
    background: #010000;
    font-family: "montserrat";
}

#parent {
    background: #1a1a1a;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: #f9f5f9 0px 0px 10px;
}

#header {
    background: #daf7a6;
    width: 100%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px 10px;
}

#content {
    background: #000000;
	width: 100%;
	height: 75%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;/*centers region in browser*/
	text-align: center;/*centers content in a region*/
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 15px;
}

#footer {
    background: #daf7a6;
	width: 100%;
	height: 7%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px 30px;
}

h1{
    font-family: "roboto condensed";
	font-size: 44px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 7px; 
	text-align: center;
	margin-top: 0px;
	line-height: 95px;/*sets the placing for the heading text within the child*/  
}

.subheading {
    font-family: "montserrat";
	font-size: 14px;
	font-style: light;
	color: #000000;
	opacity: 65%;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 0px;
	position: relative;
	top: -50px;
}